<!DOCTYPE html>

{% extends 'bootstrap/base.html' %}
{% block metas %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock metas %}
{% block styles %}
{{super()}}
<!-- <link rel="stylesheet" href="{{url_for('.static', filename='signup.css')}}"> -->
{% endblock %}

{% block head %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" >

<script src="myscripts.js" charset="UTF-8"></script>
<!-- jQuery library -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

<title>Test systems</title>
{% endblock %}

{% block content %}

<div id = "error" style="color:red;"></div>
<!-- {% if error != '' %} -->
<script type="text/javascript">
	document.getElementById("error").innerHTML = '{{error}}'.replace('|', '<br>').replace('|', '<br>').replace('|', '<br>').replace('|', '<br>');
</script>
<!-- {% endif%} -->

{% if exception and error==''%}
<div style="color:red;" width="100%">Eroare! Specificați numărul de teste</div>
<script type="text/javascript">
	// alert("Error! Please specify nr. of tests");
</script>
{% endif %}



<form method="post" class ="form-inline animated flipInX" enctype = "multipart/form-data">
	{{form.csrf_token}}
	<H1 align="center"> 	Testarea sistemelor</H1>
	<br>
	
	<!-- <input type="submit" value="Upload Image" name="submit"> -->

	<div class="row blueText" style="margin-top:10px; margin-bottom:10px; display:block;">

		<div class="col-md-5 col-md-offset-1 form-group input blueText col-md-6">
			<!-- First system name: -->
			Numele primului sistem:
			{{form.first_sys_name(class_='form-control')}}

			<div style="display:inline;">
				<label>Alegeți primul fișier
					<input type="file" class="fileinput" name="file1" id="fileToUpload1" >
				</label>
			</div>
		</div>

		<!-- <div class="row blueText" style="margin-top:10px; margin-bottom:10px; display:block;"> -->
		<div class="col-md-5 col-md-offset-1 form-group input blueText">
			Numele celui de-al doilea sistem:
			{{form.second_sys_name(class_='form-control')}}

			<div style="display:inline;">
				<label>Alegeți al doilea fișier
					<input type="file" class="fileinput" name="file2" id="fileToUpload2">
				</label>
			</div>
		</div>
	</div>

	<div class="row blueText" style="margin-top:10px; margin-bottom:10px; ">
			<div class="col-md-5 col-md-offset-1 form-group input blueText">
					Parametrii în consolă:
					{{form.first_sys_param(class_='form-control', size="25")}}
					(separați prin spațiu)
			</div>
				<div class="col-md-5 col-md-offset-1 form-group input blueText">
					Parametrii în consolă:
					{{form.second_sys_param(class_='form-control', size="25")}}
					(separați prin spațiu)
				</div>
	</div>

	

<div align="center">
<br>
	<!-- Number of tests: <input class="form-control" size="25">  -->
	Numărul de teste:
	{{form.nr_tests(class_='form-control', size=25)}}

	<button class="btn btn-primary" style="color:black; background-color: #cf8dDC">Rezultate</button>	
	
</div>
</form>

<br>
<a href='/'><button class="btn btn-primary" style="color:black; background-color: #cf8dDC" onclick="reload()">Reînnoire date</button></a>
	<script>
		function reload() {
			// document.getElementById("error").innerHTML = '';
   //  		location.reload();
    		document.getElementById("error").innerHTML = '';

		}
	</script>



<hr>
<div align="center">
	<label id ="first_canvas_label" for = "first_c" style="visibility: hidden;">
		Test {{first_sys_name}} <br/>
		<canvas id="first_c" class="chart" width="600" height="300" ></canvas>    
	</label>

	<label id ="second_canvas_label" for = "second_c" style="visibility: hidden;">
		Test {{second_sys_name}} <br/>
		<canvas id="second_c" class="chart" width="600" height="300"></canvas>    
	</label>
</div>
<br>
<br>

<table id = "myTable" border="2px gray" align="center" width="60%" >
	{% if show_chart%}
	<th>Nr. test.</th>
	<th>Timp {{first_sys_name}} (ms)</th>
	<th>Timp {{second_sys_name}} (ms)</th>
	{% endif %}

	{% for i in range(nr_of_tests) %}
	<tr>
		<td>{{i+1}}</td>
		<td>{{first_time[i]}}</td>
		<td>{{second_time[i]}}</td>
	</tr>
	{% endfor %}
	
</table>
<br>
<br>





<script type="text/javascript">


	function addMedianToTable()
	{
		var table = document.getElementById("myTable");
		var row = table.insertRow();

 		// var cell = row.insertCell(0);
 		var algo_cell = row.insertCell(0);
		// var msg_len_cell = row.insertCell(2);
		// var key_len_cell = row.insertCell(3);
		var first_time_median_cell = row.insertCell(1);
		var second_time_median_cell = row.insertCell(2);

		algo_cell.innerHTML = "Median";
		// msg_len_cell.innerHTML = "{{msg_len}}";
		// key_len_cell.innerHTML = "{{key_len}}";
		first_time_median_cell.innerHTML = "{{first_time_median[0]}}";
		second_time_median_cell.innerHTML = "{{second_time_median[0]}}";
		
		row.setAttribute("style", "font-weight: bold;");
	}

	function addMeanToTable()
	{
		var table = document.getElementById("myTable");
		var row = table.insertRow();

 		// var cell = row.insertCell(0);
 		var algo_cell = row.insertCell(0);
		// var msg_len_cell = row.insertCell(2);
		// var key_len_cell = row.insertCell(3);
		var first_time_mean_cell = row.insertCell(1);
		var second_time_mean_cell = row.insertCell(2);

		algo_cell.innerHTML = "Mean";
		// msg_len_cell.innerHTML = "{{msg_len}}";
		// key_len_cell.innerHTML = "{{key_len}}";
		first_time_mean_cell.innerHTML = "{{first_time_avg[0]}}";
		second_time_mean_cell.innerHTML = "{{second_time_avg[0]}}";

		// row.id="mean_row";
		// document.getElementById("mean_cell").setAttribute("style", "font-weight: bold;");
		row.setAttribute("style", "font-weight: bold;");

	}


	function addModeToTable()
	{
		var table = document.getElementById("myTable");
		var row = table.insertRow();

 		// var cell = row.insertCell(0);
 		var algo_cell = row.insertCell(0);
		// var msg_len_cell = row.insertCell(2);
		// var key_len_cell = row.insertCell(3);
		var first_time_mode_cell = row.insertCell(1);
		var second_time_mode_cell = row.insertCell(2);

		algo_cell.innerHTML = "Mode";
		// msg_len_cell.innerHTML = "{{msg_len}}";
		// key_len_cell.innerHTML = "{{key_len}}";
		first_time_mode_cell.innerHTML = "{{first_time_mode[0]}}";
		second_time_mode_cell.innerHTML = "{{second_time_mode[0]}}";
		
		row.setAttribute("style", "font-weight: bold;");
	}


	if({{first_time}}.length>0)
	{
		addMedianToTable();
		addMeanToTable();
  	  	// addModeToTable();
  	  }

  	  if("{{show_chart}}" == "True"){
  	  	generateChart("first");
  	  	generateChart("second");

  	  };


  	  function generateChart(system)
  	  {
  	  	document.getElementById(system + "_canvas_label").setAttribute("style", "visibility: visible;");

  	  	var labels_data = [];

  	  	for (var i = 0; i<{{nr_of_tests}}; i++) 
  	  	{
  	  		labels_data.push((i+1).toString())
  	  	};


  	  	if(system == "first")
  	  	{
  	  		time_data_from_flask = {{first_time}};
  	  		time_mode_data_from_flask = {{first_time_mode}};
  	  		time_avg_data_from_flask = {{first_time_avg}};
  	  		time_median_data_from_flask = {{first_time_median}};
  	  		color = "#F0494C";
  	  	}
  	  	else
  	  		if(system == "second")
  	  		{
  	  			time_data_from_flask = {{second_time}}
  	  			time_mode_data_from_flask = {{second_time_mode}}
  	  			time_avg_data_from_flask = {{second_time_avg}}
  	  			time_median_data_from_flask = {{second_time_median}}
  	  			color = "#6DA8D6";
  	  		}	
  	  		else
  	  			alert("Error in system specification(JavaScript): First/Second system undefined");

			 	  


  	  		var ctx = document.getElementById(system + "_c").getContext("2d");
  	  		var data = {
  	  			labels: labels_data,

  	  			datasets: [{
  	  				label: "Encryption time",
	        // fillColor: "#6DA8D6",
	        // fillColor: "#F36F25",
	        // fillColor: "#F0494C",
	        // fillColor: "#1ABC9C",
	        fillColor: color,


	        // F36F25
	        // 6DA8D6
	        // F0494C
	        // fillColor: "#E91E63",
	        strokeColor: "rgba(220,220,220,1)",
	        pointColor: "rgba(220,220,220,1)",
	        pointStrokeColor: "#fff",
	        pointHighlightFill: "#fff",
	        pointHighlightStroke: "rgba(220,220,220,1)",
	        data: time_data_from_flask
	    }
	    ,

	    {
	    	label: "Median",
	    	fillColor: "rgba(151,187,205,0)",
	    	strokeColor: "#2C3E50",
	    	pointColor: "#2C3E50",
	    	pointStrokeColor: "#fff",
	    	pointHighlightFill: "#fff",
	    	pointHighlightStroke: "rgba(151,187,205,1)",
	    	data:time_median_data_from_flask
	    }
	    , 
	    {
	    	label: "Mean",
	    	fillColor: "rgba(151,17,205,0)",
	    	strokeColor: "#464646",
	    	pointColor: "#464646",
	    	pointStrokeColor: "#fff",
	    	pointHighlightFill: "#fff",
	    	pointHighlightStroke: "rgba(151,187,205,1)",
	    	data: time_avg_data_from_flask
	    },
	    {
	    	label: "Reference max value",
	    	fillColor: "rgba(151,17,205,0)",
	    	pointColor: "rgba(151,17,205,0)",
	    	data:{{max_value}},
	    },
	    {
	    	label: "Zero",
	    	fillColor: "rgba(151,187,205,0)",
	    	strokeColor: "#2C3E50",
	    	pointColor: "#2C3E50",
	    	pointStrokeColor: "#fff",
	    	pointHighlightFill: "#fff",
	    	pointHighlightStroke: "rgba(151,187,205,1)",
	    	data:[0]
	    }
	    ]
	};


	var options = {      
		scaleFontColor: "#FFFFFF", 
		scaleGridLineColor : "rgba(200, 200,200,.25)",
		scaleLabel : "<%= value + ' ms ' %>",
		scaleStartValue: 0.03,
		scaleSteps : 10,
	};

	var MyNewChart = new Chart(ctx).Line(data, options);
};
</script>




{% endblock %}



